.carousel-container {
  margin-top: 50px;
}

.slide {
  display: flex;
}

.img-style{
  margin-left: 80px;
  width: 720px;
  height: 435px;
  border-radius: 5px;
}

.info-modelo-carousel {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 80px;
  color: #FFF;
}
.info-modelo-carousel > h1 {
  font-size: 42px;
  margin-bottom: 30px;
}
.info-modelo-carousel > p {
  font-size: 26px;
  line-height: 1.5;
  font-weight: lighter;
  margin-bottom: 30px;
  width: 85%;
}

.tags-carousel {
  display: flex;
  gap: 0 20px;
  margin-bottom: 50px;
}
.tags-carousel > span {
  background-color: #FFF;
  color: #000;
  min-width: 90px;
  width: auto;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.button-saibaMais-carousel{
  width: 230px;
  padding: 18px;
  font-size: 26px;
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  &:hover {
    background-color: #FFF;
    color: #7155d8;
    border: 0;
  }
}

@media (max-width: 1300px) {
  .img-style {
    width: 500px;
    height: 300px;
  }

  .info-modelo-carousel > h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .info-modelo-carousel > p {
    font-size: 18px;
    width: 90%;
  }

  .tags-carousel > span {
    min-width: 50px;
    padding: 10px;
    margin-bottom: 45px;
    font-size: 14px;
  }
}