<div class="filter">
  <div class="filter-elements">

    <!-- Navegação -->
    <div class="explorar-tags">
      <span (click)="handleExplorar()">Explorar</span>
      <span>|</span>
      <span>Tags</span>
    </div>

    <!-- Botão Novo -->
    <div class="button-adicionar" *ngIf="isLoggedIn">
      <button (click)="handleCadastro()">
        <span class="plus">+</span>
        <span>Novo</span>
      </button>
    </div>

    <!-- Campo de Busca -->
    <div class="barra-pesquisa">
      <div class="search-wrapper">
        
        <div class="icone-circular">
          <button 
            class="icon-button" 
            (click)="emitirMudancas()" 
            aria-label="Buscar">
            <mat-icon class="icon">search</mat-icon>
          </button>
        </div>

        <input 
          type="text" 
          [(ngModel)]="searchTerm"
          (keydown.enter)="emitirMudancas()"
          placeholder="Explore mais de 200 modelos disponíveis..."
        >
        <button 
          class="icon-button"
          *ngIf="searchTerm"
          (click)="clearSearch()"
          aria-label="Limpar busca"
        >
            <mat-icon>close</mat-icon>
        </button>

        <button class="icon-button"><mat-icon>tune</mat-icon></button>
      </div>
    </div>

  </div>

  <!-- Filtros -->
  <div class="filtros-selects">
    <div class="filtro" *ngFor="let filtro of filtrosConfig">
      <label>{{ filtro.label }}</label>
      <select [(ngModel)]="filtros[filtro.key]" (change)="emitirMudancas()">
        <option [value]="filtro.placeholder" disabled hidden>{{ filtro.placeholder }}</option>
        <option *ngFor="let opcao of filtro.opcoes" [value]="opcao">{{ opcao }}</option>
      </select>
    </div>
 

    <!-- Botão para limpar TODOS os filtros -->
    <div class="filtro clear-all-container" *ngIf="temFiltrosAtivos()">
      <label>&nbsp;</label> <!-- Label vazia para alinhamento -->
      <button 
        class="clear-all-filters" 
        (click)="limparTodosFiltros()"
        [disabled]="!temFiltrosAtivos()"
        aria-label="Limpar todos os filtros">
        <mat-icon>clear_all</mat-icon>
        <span>Limpar Tudo</span>
      </button>
    </div>
  </div>
    
</div>
