<div class="explorar">
  <app-filter class="explorar__filter"></app-filter>

  <div class="explorar__switch-view-buttons">

    <button (click)="switchViewType('grid')">
      <mat-icon 
        class="icon-viewType" 
        aria-hidden="false" 
        aria-label="Grid View icon" 
        fontIcon="grid_view"
        [ngStyle]="{'opacity': (viewType === 'grid') ? opacityClicked : 0.6}">
      </mat-icon>
    </button>

    <button (click)="switchViewType('list')">
      <mat-icon 
        class="icon-viewType" 
        aria-hidden="false" 
        aria-label="List View icon" 
        fontIcon="view_headline"
        [ngStyle]="{'opacity': (viewType === 'list') ? opacityClicked : 0.6}">
      </mat-icon>
    </button>
    
  </div>

  <div class="explorar__resultados-container">
    <app-explorar-grid *ngIf=" viewType === 'grid' " [modelosList]="modelosList"></app-explorar-grid>
    <app-explorar-list *ngIf=" viewType === 'list' "></app-explorar-list>  
  </div>
  
</div>

