.explorar {
  width: 100%;
  /*height: 260vh;*/
  color: #000;
  display: flex;
  flex-direction: column;  
  margin: auto;

  &__filter{
    width: 100%;
    min-height: 150px;
    background-color: #7155d8;
    box-shadow: 0px 7px 5px #49378c;
    z-index: 10;
  }

  /* === Botões de visualização (Grid / List) === */
  &__switch-view-buttons {
    margin: 50px 80px 30px 0;
    display: flex;
    gap: 0 7px;
    flex-direction: row-reverse;
  }

  &__switch-view-buttons > button {
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
  }

  /* === Container da grid ou lista === */
  &__modelos-container {
    margin-top: 20px;
    height: 100%;
    margin-left: 50px;
  }
}

.icon-viewType {
  transform: scale(1.4);
  opacity: 0.6;
}