.footer {
  font-family: 'Barlow', sans-serif;
  display: flex;
  align-items: start;
  justify-content: center;
  color: white;
  gap: 0 80px;
  margin-top: 100px;

  &__logo > img {
    width: 100%;
  }

  &__contato, &__links, &__redes-sociais {
    display: flex;
    flex-direction: column;
  }
}

.titulo-footer {
  font-weight: bold;
  font-size: 22px;
}

.info-footer {
  font-size: 18px;
}

.link-footer{
  color: white;
  font-size: 20px;
  display: block;
  margin-bottom: 20px;
  &:hover {
    color: #7155d8;
  }
}

.redes-sociais-icons{
  display: flex;
  gap: 0 35px;
  margin-top: 10px;
}

@media (max-width: 1300px) {
  .footer__logo > img{
    width: 85%;
  }

  .titulo-footer {
    font-size: 18px;
  }

  .info-footer {
    font-size: 14px;
  }

  .link-footer {
    font-size: 16px;
  }

  .redes-sociais-icons {
    gap: 0 25px;
  }

  .each-icon {
    width: 35px;
  }
}