<div class="footer">
  <div class="footer__logo">
    <img src="https://apps.univesp.br/common/traco-negativa.svg" alt="Logo da Univesp">
  </div>

  <div class="footer__contato">
    <span class="titulo-footer">Contato</span>
    <br>
    <span class="info-footer">Av. Paulista, nº 352, 14º andar</span>
    <span class="info-footer">Bela Vista, São Paulo - SP</span>
    <span class="info-footer">01310-000</span>
    <br>
    <span class="titulo-footer">Email:</span>
    <span class="info-footer">univesp&#64;univesp.br</span>
    <br>
    <span class="titulo-footer">Telefone:</span>
    <span class="info-footer">+55 11 3188-6700</span>
  </div>

  <div class="footer__links">
    <span class="titulo-footer">Links Rápidos</span>
    <br>
    <a class="link-footer" href="#">Vestibular</a>
    <br>
    <a class="link-footer" href="#">Cursos</a>
    <br>
    <a class="link-footer" href="#">Polos</a>
    <br>
    <a class="link-footer" href="#">Institucional</a>
    <br>
    <a class="link-footer" href="#">Transparência</a>
  </div>

  <div class="footer__redes-sociais">
    <span class="titulo-footer">Univesp nas redes</span>
    <br>
    <div class="redes-sociais-icons">
      <span>
        <a href="#">
          <img src="https://img.icons8.com/?size=42&id=118467&format=png&color=ffffff" alt="">
        </a>
      </span>
      <span>
        <a href="#">
          <img src="https://img.icons8.com/?size=42&id=32309&format=png&color=ffffff" alt="">
        </a>
      </span>
      <span>
        <a href="#">
          <img src="https://img.icons8.com/?size=42&id=37326&format=png&color=ffffff" alt="">
        </a>
      </span>
    </div>
  </div>
</div>

