<div class="footer">
  <div class="footer__logo">
    <img src="https://apps.univesp.br/common/traco-negativa.svg" alt="Logo da Univesp">
  </div>

  <div class="footer__contato">
    <span class="titulo-footer">Contato</span>
    <br>
    <span class="info-footer"> {{ footer.endereco | endereco }} </span>
    <span class="info-footer"> {{ footer.endereco | regiao }} </span>
    <span class="info-footer"> {{ footer.endereco | cep }} </span>
    <br>
    <span class="titulo-footer">Email:</span>
    <span class="info-footer"> {{ footer.email }} </span>
    <br>
    <span class="titulo-footer">Telefone:</span>
    <span class="info-footer"> {{ footer.telefone | telefone }} </span>
  </div>

  <div class="footer__links">
    <span class="titulo-footer">Links Rápidos</span>
    <br>
    <div>
      <a class="link-footer"
       *ngFor="let linkInfo of footer.linksRapidos"
       href="{{ linkInfo.link }}"
       target="_blank"
       > 
       {{ linkInfo.titulo }} 
      </a>
    </div>
  </div>

  <div class="footer__redes-sociais">
    <span class="titulo-footer">Univesp nas redes</span>
    <br>
    <div class="redes-sociais-icons">
      <span *ngFor="let redeSocial of footer.redesSociais">
        <a href="{{ redeSocial.link }}" target="_blank">
          <img class="each-icon" src="{{ redeSocial.icone }}" alt="{{ redeSocial.alt }}">
        </a>
      </span>
    </div>
  </div>
</div>

