.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__image-container {
    background-color: #7155d8;
    width: 270px;
    height: 130px;
    position: relative;
    bottom: 25px;
    right: 150px;
  }
  &__image-container > img {
    width: 100%;
  }
}

.header > h1 {
  text-transform: uppercase;
  color: #7155d8;
  font-size: 3.5em;
}