.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__image-container {
    background-color: #7155d8;
    width: 270px;
    height: 130px;
    position: relative;
    bottom: 25px;
    right: 150px;
  }
  &__image-container > img {
    width: 100%;
  }
}

.header > h1 {
  text-transform: uppercase;
  color: #7155d8;
  font-size: 3.5em;
}

@media (max-width: 1300px) {
  .header__image-container {
    width: 220px;
    height: 100px;
    bottom: 24px;
    right: 70px;
    display: flex;
    justify-content: center;
  }

  .header__image-container > img {
    width: 90%;
  }

  .header > h1 {
    font-size: 2.8em;
  }
}