<div class="not-found">
  <h1>Oops!</h1>
  <h2>404 - Página não encontrada</h2>
  <p>A página que você está tentando acessar pode ter sido removida, teve seu nome trocado ou está temporariamente indisponível.</p>
  <p>Verifique se digitou a URL corretamente ou clique no botão abaixo para ir para a Página Inicial.</p>
  <div class="u-button-default" style="margin-bottom: 110px;">
    <button style="width: 300px; background-color: #7155d8; color: white;" (click)="redirectToHome()">Ir para a Página Inicial</button>
  </div>
</div>
