<div class="destaques-container">
  <h1>Destaques</h1>

  <ngx-slick-carousel class="modelos-cards"
  #slickModal="slick-carousel"
  [config]="modelosConfig">

    <div ngxSlickItem *ngFor="let modelo of modelosDestaque" class="modelo-items-container">
      
      <h2>{{ modelo.titulo }}</h2>

      <div class="modelo-detalhes">
        <span>{{ modelo.date }}</span> 
        <span> | </span> 
        <span>{{ modelo.disciplina }}, </span> 
        <span>{{ modelo.categorias }}</span>
        <span (click)="toggleBookmark(modelo)" *ngIf="isLoggedIn">
          <mat-icon 
            class="icon-bookmark" 
            aria-hidden="false" 
            aria-label="BookMark icon" 
            [fontIcon]=" modelo.isSalvo ? 'bookmark' : 'bookmark_border' ">
          </mat-icon>
        </span>
      </div>

      <div class="modelo-imagem">
        <img src="{{ modelo.img_md }}" alt="">
      </div>

      <p class="modelo-descricao">{{ modelo.descricao }}</p>

      <p class="modelo-autor">Enviado por: <b>{{ modelo.autor }}</b></p>

      <button class="modelo-button-destaques" (click)="redirectModeloPage(modelo.id)">Saiba Mais</button>
      
    </div>

  </ngx-slick-carousel>
</div>