.destaques-container > h1 {
  font-weight: lighter;
  font-size: 48px;
  margin-bottom: 20px;
}

.modelos-cards {
  display: flex;
  align-items: stretch;
}

.modelo-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 650px;
}

.modelo-items-container > h2 {
  font-size: 28px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.modelo-detalhes {
  margin-bottom: 15px;
  margin-left: 30px;
}

.modelo-descricao {
  margin-top: 20px;
  font-size: 18px;
  width: 80%;
  margin-left: 20px;
  margin-bottom: 40px;
}

.modelo-autor {
  margin-left: 20px;
  font-size: 18px;
  flex-grow: 1;
}

.modelo-button-destaques {
  width: 45%;
  background-color: transparent;
  border: 1px solid #7155d8;
  color: #7155d8;
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  margin-top: auto;
  border-radius: 7px;
  cursor: pointer;
  &:hover {
    background-color: #7155d8;
    color: #FFF;
    border: none;
  }
}

.icon-bookmark {
  transform: scale(1.4);
  color: #7155d8;
  margin-left: 100px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon-bookmark.filled {
  color: #7155d8;
}

@media (max-width: 1300px) {
  .destaques-container {
    margin-top: 50px;
  }

  .destaques-container > h1 {
    font-size: 40px;
  }

  .modelo-descricao {
    font-size: 14px;
  }

  .modelo-autor {
    font-size: 15px;
  }

  .modelo-items-container > h2 {
    font-size: 22px;
  }

  .modelo-detalhes {
    font-size: 14px;
  }

  .modelo-imagem > img {
    width: 350px;
  }
}