.destaques-container > h1 {
  font-weight: lighter;
  font-size: 48px;
  margin-bottom: 50px;
}

.modelo-items-container > h2 {
  font-size: 28px;
  margin-bottom: 5px;
  margin-left: 30px;
}

.modelo-detalhes {
  margin-bottom: 15px;
  margin-left: 30px;
}

.modelo-descricao {
  margin-top: 20px;
  font-size: 18px;
  width: 80%;
  margin-left: 20px;
  margin-bottom: 40px;
}

.modelo-autor {
  margin-left: 20px;
  font-size: 18px;
}