.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;

  &__header {
    width: 100%;
    height: 25vh;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    width: 100%;
    height: 100%;
    background-color: #333333;
    margin-top: 70px;
  }
}

@media (max-width: 1300px) {
  .container__header {
    height: 25vh;
  }

  .container__footer {
    height: 60vh;
  }
}

// XS - <576px
@media (max-width: 575px) {
  .container__footer {
    height: 100%;
  }
}