<div class="login">
  <span>Email</span>
  <mat-form-field style="width: 500px;">
    <mat-label>E-mail cadastrado</mat-label>
    <input 
      type="email" 
      matInput
      [(ngModel)]="email"
      name="email"
      required
      email>
    <mat-error *ngIf="emailControl?.invalid && emailControl?.touched">
      <span *ngIf="emailControl?.errors?.['required']">Email é obrigatório</span>
      <span *ngIf="emailControl?.errors?.['email']">Email inválido</span>
    </mat-error>
  </mat-form-field>

  <br>

  <span>Senha</span>
  <mat-form-field style="width: 500px;">
    <mat-label>Senha</mat-label>
    <input 
      matInput 
      [type]="hide() ? 'password' : 'text'" 
      [(ngModel)]="password"
      name="password"
      required/>
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="passwordControl?.invalid && passwordControl?.touched">
      <span *ngIf="passwordControl?.errors?.['required']">Senha é obrigatória</span>
    </mat-error>
  </mat-form-field>

  <br>

  <div class="submit-button">
    <button 
      mat-raised-button 
      color="primary" 
      (click)="onLogin()"
      [disabled]="isLoading || !isFormValid()">
      {{ isLoading ? 'ENTRANDO...' : 'ENTRAR' }}
    </button>
  </div>
  
</div>