.login {
  color: white;
  margin-top: -50px;
}
.login > span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.inputs-login {
  width: 500px;
}

.check-remember{
  display: flex;
  align-items: end;
  margin-top: 10px;
  gap: 0 10px;
}

.check-remember > span{
  font-weight: bold;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.submit-button {
  margin-top: 30px;
}

.submit-button > button {
  outline: none;
  padding: 20px;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  color: #7155d8;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.submit-button > button:hover {
  transform: scale(1.1);
}


// XS - <576px
@media (max-width: 575px) {
  .inputs-login {
    width: 350px;
  }
}

// XXS - <380px
@media (max-width: 379px) {
  .inputs-login {
    width: 100%;
  }
}