.tags-populares-container {
  width: 100%;
  padding: 30px;
  background-color: #FFF;
  height: 180px;
}

.tags-populares-container > h1 {
  font-weight: lighter;
  font-size: 48px;
}

.tags-items-container {
  margin-top: 30px;
  display: flex;
  gap: 0 15px;
  margin-left: 3px;
}

.tag-item {
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .tags-populares-container {
    height: 200px;
  }

  .tags-populares-container > h1 {
    font-size: 40px;
  }

  .tags-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .tag-item {
    font-size: 12px;
  }
}