<div class="home">

  <div class="home__login u-text-align-center">
    <h2>Explore recursos e modelos que te ajudarão a desenvolver seus projetos!</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio molestiae ab quis eligendi numquam unde libero, non a voluptates iusto explicabo provident, repellat molestias quaerat veniam animi officia. Harum, placeat.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio molestiae ab quis eligendi numquam unde libero, non a voluptates iusto explicabo provident, repellat molestias quaerat veniam animi officia. Harum, placeat.</p>
    <div class="ilustras-home">
      <div class="ilustra-home-item"></div>
      <div class="ilustra-home-item"></div>
      <div class="ilustra-home-item"></div>
    </div>
    <div class="u-button-default" style="margin-top: 50px;">
      <button (click)="redirectToLoginOrDashboard()">Entrar</button>
    </div>
  </div>

</div>