/* You can add global styles to this file, and also import other style files */

@import "./styles/utils/text-align-center";
@import "./styles/utils/button-default";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; /* Fazcom que as bordas e o preenchimento sejam incluídos no tamanho total do elemento */
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.slick-prev:before, .slick-next:before {
  color: #000 !important;
}

.novidades-cards > button.slick-next::before, .novidades-cards > button.slick-prev::before {
  color: #7155d8 !important;
  font-size: 45px;
  position: absolute;
  bottom: 110px;
}
.novidades-cards > button.slick-prev::before {
  left: 1620px;
}
.novidades-cards > button.slick-next::before {
  right: 50px;
}