/* You can add global styles to this file, and also import other style files */

@import "./styles/utils/text-align-center";
@import "./styles/utils/button-default";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; /* Fazcom que as bordas e o preenchimento sejam incluídos no tamanho total do elemento */
}

html, body {
  height: 100%;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}

a {
  text-decoration: none;
}

.slick-prev:before, .slick-next:before {
  color: #000 !important;
  z-index: 1000 !important;
}

.carousel > button.slick-next::before, .carousel > button.slick-prev::before {
  font-size: 60px;
  position: relative;
  color: #fff !important;
}

.carousel > button.slick-next::before {
  left: 17px;
}

.carousel > button.slick-prev::before {
  right: 17px;
}

.carousel .slick-prev,
.carousel .slick-next {
  width: 80px !important;  /* Área clicável maior */
  height: 80px !important; /* Área clicável maior */
  z-index: 1000 !important;
  cursor: pointer !important;
}

.carousel .slick-prev {
  left: 10px !important; /* Ajuste fino na posição */
}

.carousel .slick-next {
  right: 10px !important; /* Ajuste fino na posição */
}

.novidades-cards > button.slick-next::before, .novidades-cards > button.slick-prev::before {
  color: #7155d8 !important;
  font-size: 45px;
  position: absolute;
  bottom: 110px;
}
.novidades-cards > button.slick-prev::before {
  left: 1620px;
}
.novidades-cards > button.slick-next::before {
  right: 50px;
}

.modelos-cards > button.slick-next::before, .modelos-cards > button.slick-prev::before {
  color: #7155d8 !important;
  font-size: 45px;
  position: absolute;
  bottom: 360px;
}
.modelos-cards > button.slick-prev::before {
  left: 1605px;
}
.modelos-cards > button.slick-next::before {
  right: 60px;
}

@media (max-width: 1300px) {
  .novidades-cards > button.slick-next::before, .novidades-cards > button.slick-prev::before, .modelos-cards > button.slick-next::before, .modelos-cards > button.slick-prev::before {
    font-size: 35px;
  }

  .modelos-cards > button.slick-next::before, .modelos-cards > button.slick-prev::before {
    bottom: 295px;
  }

  .novidades-cards > button.slick-prev::before {
    left: 1060px;
  }

  .modelos-cards > button.slick-prev::before {
    left: 1050px;
  }
}