.dashboard {
  width: 90%;
  /*height: 260vh;*/
  color: #000;
  display: flex;
  flex-direction: column;  
  margin: auto;

  &__filter {
    width: 100%;
    min-height: 150px;
    background-color: #7155d8;
    //box-shadow: 0px 7px 5px #49378c;
    z-index: 10;
  }

  &__carousel {
    width: 100%;
    background-color: #7155d8;
    min-height: 530px;
  }

  &__novidades, &__tags {
    width: 100%;
    margin-top: 50px;
  }

  &__tags {
    margin-top: 80px !important;
   /* margin-top: -50px !important; */
  }

  &__destaques {
    width: 100%;
    margin-top: 80px;
   /* margin-top: -120px; */
  }

  &__novidades {
    margin-left: 20px;
  }
}


@media (max-width: 1300px) {
  .dashboard__destaques {
    height: 200vh;
  }
}