<div class="cadastro-modelo">
  <!-- Filtro reutilizado -->
  <app-filter
   class="cadastro-modelo__filter"
   (filtrosChanged)="null"
   (explorarClicked)="null">
  </app-filter>

  <div class="cadastro-modelo__container">

    <h1>Envie um Modelo</h1>
    <span>Por favor, preencha todos os campos abaixo com as informações solicitadas para cadastrar o modelo no repositório.</span>

    <form class="cadastro-modelo__formulario">

      <!-- Informações Básicas -->
      <span class="cadastro-modelo__titulo-secao">Informações Básicas</span>

      <!-- Formato (Campo Obrigatório) -->
      <span class="titulo-info">Formato <span class="obrigatório">*</span></span>
      <div class="cadastro-modelo__formato-container">
        
        <div>
          <input type="radio" id="reaUnivesp" name="formato" value="reaUnivesp" (change)="onFormatoChange($event)">
            <label for="reaUnivesp">REA Univesp</label>
        </div>

        <div>
          <input type="radio" id="recursoProgramacao" name="formato" value="recursoProgramacao" (change)="onFormatoChange($event)">
            <label for="recursoProgramacao">Recurso de Programação</label>
        </div>

        <div>
          <input type="radio" id="formatoSite" name="formato" value="formatoSite" (change)="onFormatoChange($event)">
            <label for="formatoSite">Site</label>
        </div>

        <div>
          <input type="radio" id="formatoJogo" name="formato" value="formatoJogo" (change)="onFormatoChange($event)">
            <label for="formatoJogo">Jogo</label>
        </div>

        <div>
          <input type="radio" id="modeloExterno" name="formato" value="modeloExterno" (change)="onFormatoChange($event)">
            <label for="modeloExterno">Modelo Externo</label>
        </div>
        
      </div>

      <!-- Título (Campo Obrigatório) -->
      <span class="titulo-info">Título <span class="obrigatório">*</span></span>
      <input class="input-text" type="text" placeholder="Escreva Aqui">
      <span class="detalhe-campo-forms">Insira um título claro e conciso para o recurso/modelo. (ex.: "Jogo da Forca Interativo")</span>

      <!-- Descrição (Campo Obrigatório) -->
      <span class="titulo-info">Descrição <span class="obrigatório">*</span></span>
      <textarea class="input-textArea" cols="30" rows="10" placeholder="Escreva Aqui"></textarea>
      <span class="detalhe-campo-forms">Forneça uma descrição completa do recurso, incluindo suas principais caraterísticas e funcionalidades.</span>

      <!-- URL -->
      <span class="titulo-info">URL</span>
      <input class="input-text" type="text" placeholder="https://">
      <span class="detalhe-campo-forms">Confira o link</span>

      <!-- Tags (Campo Obrigatório) -->
      <div class="mb-4" style="margin-top: 30px;"> <!-- Adicionei mb-4 para espaçamento -->
        <span class="titulo-info">Tags <span class="obrigatório">*</span></span>
        <div class="tags-input-container">
          <!-- Itera sobre o array 'tags' do componente TypeScript -->
          <div *ngFor="let tag of tags" class="tag-chip">
            <span class="tag-text">{{ tag }}</span>
            <!-- Botão para remover a tag, chamando a função removeTag do componente -->
            <button type="button" class="remove-tag" (click)="removeTag(tag)">x</button>
          </div>
          <input
            type="text"
            class="tags-input"
            placeholder="Adicionar tags (separe por Enter)"
            [(ngModel)]="currentTagInput"
            (keyup.comma)="addTagFromInput()"
            (blur)="addTagFromInput()"
            (keyup.enter)="addTagFromInput($event)"
            name="tagInput" 
            [disabled]="tags.length >= maxTags"
          >
        </div>
        <!-- Exibe o limite de tags restantes dinamicamente -->
        <span class="detalhe-campo-forms">Insira palavras-chave relacionadas ao recurso para facilitar a busca (separe por Enter). Limite: {{ maxTags - tags.length }} restantes.</span>
        <!-- Mensagem de erro de validação simples para tags (mostra se não houver tags) -->
        
      </div>
      <!-- Fim do campo de Tags -->

      <!-- Imagem de Capa (Campo Obrigatório) -->
      <span class="titulo-info">Imagem de Capa <span class="obrigatório">*</span></span>
      <span class="detalhe-campo-forms" style="margin-left: 0; margin-bottom: 25px;">Selecione a imagem de capa do recurso. Tamanho Ideal: 500px x 280px. Formatos aceitos: PNG, JPG e JPEG</span>
      <div class="image-upload-container" style="margin-bottom: 100px;">
        <!-- Input de arquivo OCULTO -->
        <input
          type="file"
          id="carregaImagem"
          (change)="onFileSelected($event)"
          accept=".png, .jpg, .jpeg"
          style="display: none;"
        >
        <!-- Label estilizada como botão -->
        <label for="carregaImagem" class="cadastro-modelo__button">
          Carregar Imagem
        </label>

        <!-- Pré-visualização da imagem e botão de remover -->
        <div *ngIf="imagePreviewUrl" class="image-preview-container">
          <img [src]="imagePreviewUrl" alt="Pré-visualização da imagem" class="image-preview">
          <button type="button" class="remove-image-button" (click)="removeFile()">
            Remover Imagem
          </button>
        </div>

        <!-- Mensagem de erro da imagem -->
        <div *ngIf="imageErrorMessage" class="image-error-message text-red-600 text-xs mt-1">
          {{ imageErrorMessage }}
        </div>
      </div>
      <!-- Fim do Campo de Imagem -->

      <!-- FILTROS / CATEGORIAS -->
      <span class="cadastro-modelo__titulo-secao">Filtros / Categorias</span>

      <!-- Selects gerados dinamicamente a partir de selectsConfig -->
      <ng-container *ngFor="let selectConfig of selectsConfig">
        <app-custom-select
          [label]="selectConfig.label"
          [options]="selectConfig.opcoes"
          [initialSelection]="selectedValues[selectConfig.key]"
          (selectionChange)="onSelectChange(selectConfig.key, $event)"
          [required]="selectConfig.obrigatorio">
        </app-custom-select>
      </ng-container>

      <!-- Código-fonte -->
      <div class="cadastro-modelo__formato-container formato-radio-inline-container">
        <span class="titulo-info">Código-fonte disponível?<span class="obrigatório" style="margin-left: 5px;">*</span></span>

        <div class="radio-buttons-group">
          <div>
            <input type="radio" id="codigoSim" name="codigo" value="true" (change)="onCodigoFonteChange($event)" [checked]="codigoFonteDisponivel === true">
            <label for="codigoSim">Sim</label>
          </div>
  
          <div>
            <input type="radio" id="codigoNao" name="codigo" value="false" (change)="onCodigoFonteChange($event)" [checked]="codigoFonteDisponivel === false">
            <label for="codigoNao">Não</label>
          </div>
        </div>   
      </div>
      <div *ngIf="codigoFonteDisponivel === true" class="image-upload-container" style="margin-bottom: 15px; margin-top: 40px;">
        <!-- Input de arquivo OCULTO -->
        <input
          type="file"
          id="carregaArquivo"
          (change)="onFileSelected($event)"
          accept=".zip"
          style="display: none;"
        >
        <!-- Label estilizada como botão -->
        <label for="carregaArquivo" class="cadastro-modelo__button">
          Carregar Arquivo
        </label>
        <!-- Adicione aqui a pré-visualização ou mensagem de erro para o arquivo ZIP, se necessário -->
        <div *ngIf="selectedFile && imagePreviewUrl" class="file-preview-container">
          <p>Arquivo selecionado: {{ imagePreviewUrl }}</p>
          <button type="button" class="remove-file-button" style="margin: 20px 0 0 0;" (click)="removeFile()">Remover Arquivo</button>
        </div>
        <div *ngIf="imageErrorMessage" class="image-error-message">
          {{ imageErrorMessage }}
        </div>
      </div>
      <span *ngIf="codigoFonteDisponivel === true" class="detalhe-campo-forms" style="margin-left: 0; margin-bottom: 15px;">Somente formato .zip</span>
      <div *ngIf="codigoFonteDisponivel === true" style="display: flex; flex-direction: column;">
        <p><b>OU</b></p>
        <span class="titulo-info" style="margin-top: 10px;">Link Github</span>
        <input class="input-text" type="text" placeholder="https://">
        <span class="detalhe-campo-forms">Confira o link</span>
      </div>

      <!-- AUTORIA -->
      <div class="cadastro-modelo__autoria">
        <span class="cadastro-modelo__titulo-secao">Autoria</span>
        <span class="botao-autor">Adicionar-me como Autor</span>
        <span>Ou adicione autores abaixo</span>
      </div>

      <span class="titulo-info">Nome Completo <span class="obrigatório">*</span> </span>
      <input class="input-text" type="text" placeholder="Escreva Aqui">

      <!-- EQUIPE (PARA REAS UNIVESP OU JOGO) -->
      <div class="cadastro-modelo__equipe" *ngIf="isReaOuJogo">
        <span class="cadastro-modelo__titulo-secao">Equipe</span>

        <span class="titulo-info">Docente Responsável</span>
        <input class="input-text" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Coordenação</span>
        <input class="input-text" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Roteirização e Design Instrucional</span>
        <input class="input-text" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Layout</span>
        <input class="input-text" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Ilustração</span>
        <input class="input-text" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Programação</span>
        <input class="input-text" type="text" placeholder="Escreva Aqui">
      </div>


      <!-- BOTÕES DE ENVIO DO FORMULÁRIO -->
      <div class="cadastro-modelo__botoes-submit">
        <button>Enviar</button>
        <button>Eviar e Adicionar Outro</button>
        <button>Limpar Formulário</button>
      </div>
      

    </form>

  </div>
</div>
