<div class="cadastro-modelo">
  <!-- Filtro reutilizado -->
  <app-filter
   class="cadastro-modelo__filter"
   (filtrosChanged)="null"
   (explorarClicked)="null">
  </app-filter>

  <div class="cadastro-modelo__container">

    <h1>Envie um Modelo</h1>
    <span>Por favor, preencha todos os campos abaixo com as informações solicitadas para cadastrar o modelo no repositório.</span>

    <form class="cadastro-modelo__formulario">

      <!-- Informações Básicas -->
      <span class="cadastro-modelo__titulo-secao">Informações Básicas</span>

      <!-- Formato (Campo Obrigatório) -->
      <span class="titulo-info">Formato <span class="obrigatório">*</span></span>
      <div class="cadastro-modelo__formato-container"
           id="cadastro-modelo__formato-container"
           [class.erro-validacao]="camposComErro.includes('formato')">
        
        <div>
          <input 
            class="checkFormato" 
            type="radio" 
            id="reaUnivesp" 
            name="formato" 
            value="REA Univesp" 
            (change)="onFormatoChange($event); limparErroFormato()">
            <label for="reaUnivesp">REA Univesp</label>
        </div>

        <div>
          <input 
            class="checkFormato" 
            type="radio" 
            id="recursoProgramacao" 
            name="formato" 
            value="Recurso de Programação" 
            (change)="onFormatoChange($event); limparErroFormato()">
            <label for="recursoProgramacao">Recurso de Programação</label>
        </div>

        <div>
          <input 
            class="checkFormato" 
            type="radio" 
            id="formatoSite" 
            name="formato" 
            value="Site" 
            (change)="onFormatoChange($event); limparErroFormato()">
            <label for="formatoSite">Site</label>
        </div>

        <div>
          <input 
            class="checkFormato" 
            type="radio" 
            id="formatoJogo" 
            name="formato" 
            value="Jogo" 
            (change)="onFormatoChange($event); limparErroFormato()">
            <label for="formatoJogo">Jogo</label>
        </div>

        <div>
          <input 
            class="checkFormato" 
            type="radio" 
            id="modeloExterno" 
            name="formato" 
            value="Modelo Externo" 
            (change)="onFormatoChange($event); limparErroFormato()">
            <label for="modeloExterno">Modelo Externo</label>
        </div>
        
      </div>

      <!-- Título (Campo Obrigatório) -->
      <span class="titulo-info">Título <span class="obrigatório">*</span></span>
      <input 
        class="input-text" 
        id="inputTitle" 
        type="text" 
        placeholder="Escreva Aqui"
        [class.erro-validacao]="camposComErro.includes('inputTitle')"
        (input)="limparErroCampo('inputTitle')"
        (change)="limparErroCampo('inputTitle')">
      <span class="detalhe-campo-forms">Insira um título claro e conciso para o recurso/modelo. (ex.: "Jogo da Forca Interativo")</span>

      <!-- Descrição (Campo Obrigatório) -->
      <span class="titulo-info">Descrição <span class="obrigatório">*</span></span>
      <quill-editor
        name="descricao"
        [(ngModel)]="descricaoModelo"
        [modules]="{ toolbar: toolbarOptions }"
        placeholder="Escreva a descrição completa do recurso aqui..."
        class="quill-editor-container"
        [class.erro-validacao]="camposComErro.includes('descricao')"
        (onContentChanged)="limparErroCampo('descricao')">
      </quill-editor>
      <span class="detalhe-campo-forms">Forneça uma descrição completa do recurso, incluindo suas principais caraterísticas e funcionalidades.</span>

      <!-- URL -->
      <span class="titulo-info">URL <span class="obrigatório">*</span></span>
      <input 
        class="input-text" 
        id="urlInput" 
        type="url" 
        placeholder="https://" 
        pattern="https?://.+"
        [class.erro-validacao]="camposComErro.includes('urlInput')"
        (input)="limparErroCampo('urlInput')"
        (change)="limparErroCampo('urlInput')">
      <span class="detalhe-campo-forms">Confira o link</span>

      <!-- Tags (Campo Obrigatório) -->
      <div class="mb-4" style="margin-top: 30px;">
        <span class="titulo-info">Tags <span class="obrigatório">*</span></span>
        <div class="tags-input-container" id="tags-input-container" [class.erro-validacao]="camposComErro.includes('tags')">
          <!-- Itera sobre o array 'tags' do componente TypeScript -->
          <div *ngFor="let tag of tags" class="tag-chip">
            <span class="tag-text">{{ tag }}</span>
            <!-- Botão para remover a tag, chamando a função removeTag do componente -->
            <button type="button" class="remove-tag" (click)="removeTag(tag)">x</button>
          </div>
          <input
            type="text"
            class="tags-input"
            placeholder="Adicionar tags (separe por vírgula)"
            [(ngModel)]="currentTagInput"
            (keyup)="onKeyUp($event)"
            (blur)="addTagFromInput()"
            (input)="limparErroCampo('tags')"
            name="tagInput" 
            [disabled]="tags.length >= maxTags"
          >
        </div>
        <!-- Exibe o limite de tags restantes dinamicamente -->
        <span class="detalhe-campo-forms">Insira palavras-chave relacionadas ao recurso para facilitar a busca (separe por vírgula). Limite: {{ maxTags - tags.length }} restantes.</span>
        <!-- Mensagem de erro de validação simples para tags (mostra se não houver tags) -->
        
      </div>
      <!-- Fim do campo de Tags -->

      <!-- FILTROS / CATEGORIAS -->
      <span class="cadastro-modelo__titulo-secao" style="margin-top: 50px;">Filtros / Categorias</span>

      <!-- Selects gerados dinamicamente a partir de selectsConfig -->
      <ng-container *ngFor="let selectConfig of selectsConfig">
        <app-custom-select
          [label]="selectConfig.label"
          [options]="selectConfig.opcoes"
          [initialSelection]="selectedValues[selectConfig.key]"
          (selectionChange)="onSelectChange(selectConfig.key, $event)"
          (selectionChanged)="limparErroSelect(selectConfig.key)"
          [required]="selectConfig.obrigatorio"
          [hasError]="selectsComErro.includes(selectConfig.key)"
          [maxSelecoes]="selectConfig.maxSelecoes">
        </app-custom-select>
      </ng-container>

      <!-- Código-fonte -->
      <div 
        class="cadastro-modelo__formato-container formato-radio-inline-container"
        id="formato-radio-inline-container"
        [class.erro-validacao]="camposComErro.includes('codigoFonte')">

        <span class="titulo-info">Código-fonte disponível?<span class="obrigatório" style="margin-left: 5px;">*</span></span>

        <div class="radio-buttons-group">
          <div>
            <input 
              type="radio" 
              id="codigoSim" 
              name="codigo" 
              value="true" 
              (change)="onCodigoFonteChange($event); limparErroCodigoFonte()" 
              [checked]="codigoFonteDisponivel === true">
            <label for="codigoSim">Sim</label>
          </div>
  
          <div>
            <input 
              type="radio" 
              id="codigoNao" 
              name="codigo" 
              value="false" 
              (change)="onCodigoFonteChange($event); limparErroCodigoFonte()" 
              [checked]="codigoFonteDisponivel === false">
            <label for="codigoNao">Não</label>
          </div>
        </div>   
      </div>

      <div *ngIf="codigoFonteDisponivel === true" style="display: flex; flex-direction: column;">
        <span class="titulo-info" style="margin-top: 10px;">Link do Código-fonte::</span>
        <input 
          class="input-text" 
          id="codigoLink" 
          type="text" 
          placeholder="https://">
        <span class="detalhe-campo-forms">Confira o link</span>
        <span class="detalhe-campo-forms">Obs:. Caso você possua um arquivo (.zip) com o código-fonte, será possível inseri-lo posteriormente na página do modelo.</span>
      </div>

      <!-- EQUIPE (PARA REAS UNIVESP OU JOGO) -->
      <div class="cadastro-modelo__equipe" *ngIf="isRea">
        <span class="cadastro-modelo__titulo-secao">Equipe</span>

        <span class="titulo-info">Docente Responsável</span>
        <input class="input-text" id="EquipeDocenteResponsavel" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Coordenação</span>
        <input class="input-text" id="EquipeCoordenacao" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Roteirização e Design Instrucional</span>
        <input class="input-text" id="equipeRoteirizacaoDI" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Layout</span>
        <input class="input-text" id="equipeLayout" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Ilustração</span>
        <input class="input-text" id="equipeIlustracao" type="text" placeholder="Escreva Aqui">

        <span class="titulo-info">Programação</span>
        <input class="input-text" id="equipeProgramacao" type="text" placeholder="Escreva Aqui">
      </div>


      <!-- BOTÕES DE ENVIO DO FORMULÁRIO -->
      <div class="cadastro-modelo__botoes-submit">
        <button (click)="onSubmit()" [disabled]="isLoading">
          <span *ngIf="!isLoading">Enviar</span>
          <span *ngIf="isLoading">Enviando...</span>
        </button>
        
        <button type="button" (click)="limparFormulario()">Limpar Formulário</button>
      </div>
      

    </form>

  </div>
</div>
